menu "Encoder"
    menuconfig COMMON_ENCODER
        bool "Encoder sensors"
        default n
        select DRIVERS_ENCODER_AS5600
        ---help---
            Enable default set of encoder sensors
    rsource "*/Kconfig"
endmenu #Encoder

